:root {
  --background: #1c1c1c;
  --foreground: #171717;
  --header: #2ECC71;
  --text: #c9d1d9;
  --green: #2ECC71;
  --purple: #9574d7;
  --orange: #ec8e2c;
  --grey: #545a78;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text);
}

p {
  font-size: 1rem;
  color: var(--text);
}

pre {
  font-size: 1rem;
  color: var(--text);
}

.no-select {
  user-select: none;
}
