@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(135deg, #1E2226 30%, #252a33 100%);
  /* Dark Slate */
  --foreground: #171717;
  /* Very Dark Gray */
  --header: #2ECC71;
  /* Emerald Green */
  --text: #FFFFFF;
  /* Light Silver */
  --secondary: #00FF00;
  /* Bright Green */
  --tertiary: #6BB9F0;
  /* Soft Sky Blue */
  --accent: #FF6F61;
  /* Coral */
}

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --background: #0a0a0a; */
/*     --foreground: #ededed; */
/*   } */
/* } */

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--header);
}

p {
  font-size: 1rem;
  color: var(--text)
}

.no-select {
  user-select: none; /* Prevent text selection */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
}

.react-terminal-line {
  white-space: pre-wrap !important;
  font-size: 14px;
  overflow-x: hidden;
}

.react-terminal-input:before {
  margin-right: 0.5rem !important;
}

/* General scrollbar styles for WebKit browsers (Chrome, Safari, Edge) */
.react-terminal::-webkit-scrollbar {
  width: 8px;
  /* Width of the scrollbar */
}

.react-terminal::-webkit-scrollbar-track {
  background: transparent;
  /* Remove background */
}

.react-terminal::-webkit-scrollbar-thumb {
  background-color: rgba(200, 200, 200, 0.7);
  /* Light gray color */
  border-radius: 10px;
  /* Rounded corners */
}

/* Change thumb color on hover */
.react-terminal::-webkit-scrollbar-thumb:hover {
  background-color: rgba(150, 150, 150, 0.9);
  /* Darker gray on hover */
}

/* Firefox scrollbar styles */
.react-terminal {
  scrollbar-width: thin;
  /* Make scrollbar thin */
  scrollbar-color: rgba(200, 200, 200, 0.7) transparent;
  /* Thumb color and track color */
}
