@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(135deg, #1E2226 30%, #252a33 100%);
  /* Dark Slate */
  --foreground: #171717;
  /* Very Dark Gray */
  --header: #2ECC71;
  /* Emerald Green */
  --text: #FFFFFF;
  /* Light Silver */
  --secondary: #00FF00;
  /* Bright Green */
  --tertiary: #6BB9F0;
  /* Soft Sky Blue */
  --accent: #FF6F61;
  /* Coral */
}

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --background: #0a0a0a; */
/*     --foreground: #ededed; */
/*   } */
/* } */

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--header);
}

p {
  font-size: 1rem;
  color: var(--text)
}
