@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1c1c1c; /* Dark Slate */
  --foreground: #171717; /* Very Dark Gray */
  --header: #2ECC71; /* Emerald Green */
  --text: #c9d1d9; /* Light Silver */
  --blue: #58a6ff; /* Blue */
  --purple: #bc8cff; /* Purple */
  --orange: #ec8e2c; /* Orange */
  --grey: #545a78; /* Gray */
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text);
}

p {
  font-size: 0.9rem;
  color: var(--text);
}

pre {
  font-size: 0.9rem;
  color: var(--text);
}

.no-select {
  user-select: none; /* Prevent text selection */
}

/* Terminal Line Styles */
.react-terminal-line {
  white-space: pre-wrap !important;
  font-size: 14px;
  overflow: visible !important; /* Change from hidden to visible */
  height: auto !important; /* Ensure it takes the space it needs */
  min-height: fit-content;
  flex-shrink: 0; /* This prevents the lines from shrinking/squishing */
}

.react-terminal-input:before {
  margin-right: 0.5rem !important;
}

/* General scrollbar styles for WebKit browsers (Chrome, Safari, Edge) */
.react-terminal::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.react-terminal::-webkit-scrollbar-track {
  background: transparent; /* Transparent track for react-terminal */
}

.react-terminal::-webkit-scrollbar-thumb {
  background-color: var(--grey); /* Thumb color for react-terminal */
  border-radius: 10px; /* Rounded corners */
}

/* Hide scrollbar arrows in WebKit browsers */
.react-terminal::-webkit-scrollbar-button {
  display: none; /* This hides any buttons (arrows) on the scrollbar */
}

/* Change thumb color on hover for react-terminal */
.react-terminal::-webkit-scrollbar-thumb:hover {
  background-color: var(--grey); /* Change thumb color on hover */
}

/* Firefox scrollbar styles for all elements */
.react-terminal {
  min-height: 98%;
  max-height: 98vh; /* Add this to prevent infinite expansion */
  overflow-y: auto !important;
  overflow-x: hidden !important; /* Prevent horizontal scroll */
}

.react-terminal-wrapper {
  height: 100%;
  padding: 10px !important;
  display: flex;
  flex-direction: column;
}

.react-terminal-window-buttons {
  display: none !important;
}

.terminal-hidden-input {
  position: absolute;
  top: -9999px;
  left: -9999px;
}


/* ---------------------------- Global scrollbar styles for all elements --------------------- */


::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar globally */
}

::-webkit-scrollbar-track {
  background: transparent; /* Transparent track globally */
}

::-webkit-scrollbar-thumb {
  background-color: var(--grey); /* Thumb color globally */
}

/* Hide global scrollbar arrows in WebKit browsers */
::-webkit-scrollbar-button {
  display: none; /* This hides any buttons (arrows) on the global scrollbar */
}

/* Change global thumb color on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--grey); /* Change thumb color on hover globally */
}

/* Global Firefox styles to ensure consistency across all elements */
* {
  scrollbar-width: thin; /* Use a thin scrollbar globally */
  scrollbar-color: var(--grey) transparent; /* Thumb color and transparent track globally */
}
